@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";
@import "_custom-variables";
@import "_custom-navbar";
@import "_abilityBox";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bgc01;
}

.main-container {
  height: 100vh;
}
